<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./src/css/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <title>Polar Guess</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <link rel="icon" type="image/ico" href="src/images/Spinner.png">
</head>
<body class="transition-all duration-400 flex items-center justify-center min-h-screen h-auto w-full overflow-x-hidden overflow-y-hidden bg-[#eee]">
  <!-- loading -->
  <div id="page-loading" class="fixed top-0 left-0 w-full h-screen bg-[#eee] z-50 flex items-center justify-center flex-col text-center">
    <h2 class="text-black text-[4rem] font-tertiary-font animate-pulse font-bold uppercase">Loading...</h2>
  </div>

  <!-- desktop only -->
  <div class="fixed top-0 left-0 w-full lg:hidden h-screen bg-[#eee] z-50 flex items-center justify-center flex-col text-center">
    <h2 class="text-black text-[2rem] font-tertiary-font">USE A COMPUTER FOR BETTER EXPERIENCE</h2>
  </div>

  <main id="app" class="w-full h-screen z-40">
    
    <!-- page 0 -->
    <section class="flex items-center h-screen w-full" v-if="getPage() == 0">
        <img class="absolute left-[50%] transform translate-x-[-50%] w-[25%] top-[10%] opacity-50" src="src/images/magnet.gif">
        <img class="absolute left-[50%] transform translate-x-[-50%] w-[39%] top-[20%]" src="src/images/Title.png">

       

        <div class="w-[40%] absolute bottom-[5%] right-[2%] z-50 flex flex-row justify-end">
          <button @click="nextPage(0)" class="w-[12%] drop-shadow-md mr-[3%]">
            <img src="src/images/home.png" class="w-[100%] h-auto">
          </button>

          <button @click="soundStatus()" class="w-[12%] drop-shadow-md mr-[3%]">
            <img id="soundStatus" src="src/images/sound-off.png" class="w-[100%] h-auto">
          </button>

          <button @click="nextPage(1)" class="w-[12%] drop-shadow-md">
            <img src="src/images/arrow.png" class="w-[100%] h-auto">
          </button>
        </div>

         <img class="w-[95%] h-full" src="src/images/background-1.jpg"> 
    </section>

    <!-- page 0 -->
    <section class="flex items-center h-screen w-full" v-if="getPage() == 1">
       
        <div class="w-[40%] absolute bottom-[5%] right-[2%] z-50 flex flex-row justify-end">
          <button @click="nextPage(0)" class="w-[12%] drop-shadow-md mr-[3%]">
            <img src="src/images/home.png" class="w-[100%] h-auto">
          </button>

          <button @click="soundStatus()" class="w-[12%] drop-shadow-md mr-[3%]">
            <img id="soundStatus" src="src/images/sound-off.png" class="w-[100%] h-auto">
          </button>

          <button @click="nextPage(2)" class="w-[12%] drop-shadow-md">
            <img src="src/images/arrow.png" class="w-[100%] h-auto">
          </button>
        </div>

         <img class="w-[95%] h-auto" src="src/images/background-2.jpg"> 
    </section>

    <!-- page 3 -->
    <section class="flex items-center h-screen w-full" v-if="getPage() == 2">
       
        <div class="w-[40%] absolute bottom-[5%] right-[2%] z-50 flex flex-row justify-end">
          <button @click="nextPage(0)" class="w-[12%] drop-shadow-md mr-[3%]">
            <img src="src/images/home.png" class="w-[100%] h-auto">
          </button>

          <button @click="soundStatus()" class="w-[12%] drop-shadow-md mr-[3%]">
            <img id="soundStatus" src="src/images/sound-off.png" class="w-[100%] h-auto">
          </button>

          <button @click="nextPage(3)" class="w-[12%] drop-shadow-md">
            <img src="src/images/arrow.png" class="w-[100%] h-auto">
          </button>
        </div>

        
         <img class="w-[100%] h-screen" src="src/images/background-3.jpg"> 
    </section>

    <!-- page 3 -->
    <section @keyup.enter="checkAnswer(['rooftop'], 4)" class="flex items-center h-screen w-full" v-if="getPage() == 3">
       
        <div class="w-[40%] absolute bottom-[5%] right-[2%] z-50 flex flex-row justify-end">
          <button @click="nextPage(0)" class="w-[12%] drop-shadow-md mr-[3%]">
            <img src="src/images/home.png" class="w-[100%] h-auto">
          </button>

          <button @click="soundStatus()" class="w-[12%] drop-shadow-md mr-[3%]">
            <img id="soundStatus" src="src/images/sound-off.png" class="w-[100%] h-auto">
          </button>

          <button @click="checkAnswer(['rooftop'], 4)" class="w-[12%] drop-shadow-md">
            <img src="src/images/arrow.png" class="w-[100%] h-auto">
          </button>
        </div>

         <input id="answer_field" v-model="user_answer" class="absolute bottom-[10%] left-[35%] block focus:bg-white outline-none w-[30%] h-[10%] border-[5px] p-[1rem] bg-transparent rounded-[1rem] border-black text-[1.5rem] font-secondary-font uppercase font-bold" type="text">
        
         <img class="w-[100%] h-auto" src="src/images/background-4.jpg"> 
    </section>
  
    <!-- page 4 -->
    <section class="flex items-center h-screen w-full" v-if="getPage() == 4">
       
        <div class="w-[40%] absolute bottom-[5%] right-[2%] z-50 flex flex-row justify-end">
          <button @click="nextPage(0)" class="w-[12%] drop-shadow-md mr-[3%]">
            <img src="src/images/home.png" class="w-[100%] h-auto">
          </button>

          <button @click="soundStatus()" class="w-[12%] drop-shadow-md mr-[3%]">
            <img id="soundStatus" src="src/images/sound-off.png" class="w-[100%] h-auto">
          </button>

          <button @click="nextPage(5)" class="w-[12%] drop-shadow-md">
            <img src="src/images/arrow.png" class="w-[100%] h-auto">
          </button>
        </div>
        
         <img class="w-[100%] h-auto" src="src/images/background-5.jpg"> 
    </section>

    <!-- page 5 -->
    <section @keyup.enter="checkAnswer(['frozen'], 6)" class="flex items-center h-screen w-full" v-if="getPage() == 5">
       
        <div class="w-[40%] absolute bottom-[5%] right-[2%] z-50 flex flex-row justify-end">
          <button @click="nextPage(0)" class="w-[12%] drop-shadow-md mr-[3%]">
            <img src="src/images/home.png" class="w-[100%] h-auto">
          </button>

          <button @click="soundStatus()" class="w-[12%] drop-shadow-md mr-[3%]">
            <img id="soundStatus" src="src/images/sound-off.png" class="w-[100%] h-auto">
          </button>

          <button @click="checkAnswer(['frozen'], 6)" class="w-[12%] drop-shadow-md">
            <img src="src/images/arrow.png" class="w-[100%] h-auto">
          </button>
        </div>

         <input id="answer_field" v-model="user_answer" class="absolute bottom-[10%] left-[35%] block focus:bg-white outline-none w-[30%] h-[10%] border-[5px] p-[1rem] bg-transparent rounded-[1rem] border-black text-[1.5rem] font-secondary-font uppercase font-bold" type="text">
        
         <img class="w-[100%] h-auto" src="src/images/background-6.jpg"> 
         <img class="absolute left-[35%] w-[28%] h-[40%] object-cover top-[13%] aspect-auto rounded-tl-[15%] rounded-br-[15%]" src="src/images/image3.gif" alt="">
    </section>
  
    <!-- page 6 -->
    <section class="flex items-center h-screen w-full" v-if="getPage() == 6">
       
        <div class="w-[40%] absolute bottom-[5%] right-[2%] z-50 flex flex-row justify-end">
          <button @click="nextPage(0)" class="w-[12%] drop-shadow-md mr-[3%]">
            <img src="src/images/home.png" class="w-[100%] h-auto">
          </button>

          <button @click="soundStatus()" class="w-[12%] drop-shadow-md mr-[3%]">
            <img id="soundStatus" src="src/images/sound-off.png" class="w-[100%] h-auto">
          </button>

          <button @click="nextPage(7)" class="w-[12%] drop-shadow-md">
            <img src="src/images/arrow.png" class="w-[100%] h-auto">
          </button>
        </div>
        
         <img class="w-[100%] h-auto" src="src/images/background-7.jpg"> 
    </section>

     <!-- page 7 -->
    <section @keyup.enter="checkAnswer(['go', 'go!'], 8)" class="flex items-center h-screen w-full" v-if="getPage() == 7">
       
        <div class="w-[40%] absolute bottom-[5%] right-[2%] z-50 flex flex-row justify-end">
          <button @click="nextPage(0)" class="w-[12%] drop-shadow-md mr-[3%]">
            <img src="src/images/home.png" class="w-[100%] h-auto">
          </button>

          <button @click="soundStatus()" class="w-[12%] drop-shadow-md mr-[3%]">
            <img id="soundStatus" src="src/images/sound-off.png" class="w-[100%] h-auto">
          </button>

          <button @click="checkAnswer(['go', 'go!'], 8)" class="w-[12%] drop-shadow-md">
            <img src="src/images/arrow.png" class="w-[100%] h-auto">
          </button>
        </div>

         <input id="answer_field" v-model="user_answer" class="absolute bottom-[9%] left-[35%] block focus:bg-white outline-none w-[30%] h-[10%] border-[5px] p-[1rem] bg-transparent rounded-[1rem] border-black text-[1.5rem] font-secondary-font uppercase font-bold" type="text">
        
         <img class="w-[100%] h-auto" src="src/images/background-8.jpg"> 
         <img class="absolute left-[35%] w-[29%] h-[42%] object-cover top-[13%] aspect-auto rounded-tl-[15%] rounded-br-[15%]" src="src/images/image1.gif" alt="">
    </section>

    <!-- page 8 -->
    <section class="flex items-center h-screen w-full" v-if="getPage() == 8">
       
        <div class="w-[40%] absolute bottom-[5%] right-[2%] z-50 flex flex-row justify-end">
          <button @click="nextPage(0)" class="w-[12%] drop-shadow-md mr-[3%]">
            <img src="src/images/home.png" class="w-[100%] h-auto">
          </button>

          <button @click="soundStatus()" class="w-[12%] drop-shadow-md mr-[3%]">
            <img id="soundStatus" src="src/images/sound-off.png" class="w-[100%] h-auto">
          </button>

          <button @click="nextPage(9)" class="w-[12%] drop-shadow-md">
            <img src="src/images/arrow.png" class="w-[100%] h-auto">
          </button>
        </div>
        
         <img class="w-[100%] h-auto" src="src/images/background-9.jpg"> 
    </section>

   <!-- page 9 -->
    <section class="flex items-center h-screen w-full" v-if="getPage() == 9">
       
        <div class="w-[40%] absolute bottom-[5%] right-[2%] z-50 flex flex-row justify-end">
          <button @click="nextPage(0)" class="w-[12%] drop-shadow-md mr-[3%]">
            <img src="src/images/home.png" class="w-[100%] h-auto">
          </button>

          <button @click="soundStatus()" class="w-[12%] drop-shadow-md mr-[3%]">
            <img id="soundStatus" src="src/images/sound-off.png" class="w-[100%] h-auto">
          </button>

          <button @click="nextPage(10)" class="w-[12%] drop-shadow-md">
            <img src="src/images/arrow.png" class="w-[100%] h-auto">
          </button>
        </div>
        
         <img class="w-[90%] h-auto" src="src/images/background-10.jpg"> 
    </section>

    <!-- page 10 -->
    <section @keyup.enter="checkAnswer(['stability'], 11)" class="flex items-center h-screen w-full" v-if="getPage() == 10">
       
        <div class="w-[40%] absolute bottom-[5%] right-[2%] z-50 flex flex-row justify-end">
          <button @click="nextPage(0)" class="w-[12%] drop-shadow-md mr-[3%]">
            <img src="src/images/home.png" class="w-[100%] h-auto">
          </button>

          <button @click="soundStatus()" class="w-[12%] drop-shadow-md mr-[3%]">
            <img id="soundStatus" src="src/images/sound-off.png" class="w-[100%] h-auto">
          </button>

          <button @click="checkAnswer(['stability'], 11)" class="w-[12%] drop-shadow-md">
            <img src="src/images/arrow.png" class="w-[100%] h-auto">
          </button>
        </div>

         <input id="answer_field" v-model="user_answer" class="absolute bottom-[9%] left-[35%] block focus:bg-white outline-none w-[30%] h-[10%] border-[5px] p-[1rem] bg-transparent rounded-[1rem] border-black text-[1.5rem] font-secondary-font uppercase font-bold" type="text">
        
         <img class="w-[100%] h-auto" src="src/images/background-11.jpg"> 
         <img class="absolute left-[33%] w-[32%] h-[45%] object-cover top-[15%] aspect-auto rounded-tl-[15%] rounded-br-[15%]" src="src/images/image8.gif" alt="">
    </section>

    <section class="flex items-center h-screen w-full" v-if="getPage() == 11">
       
        <div class="w-[40%] absolute bottom-[5%] right-[2%] z-50 flex flex-row justify-end">
          <button @click="nextPage(0)" class="w-[12%] drop-shadow-md mr-[3%]">
            <img src="src/images/home.png" class="w-[100%] h-auto">
          </button>

          <button @click="soundStatus()" class="w-[12%] drop-shadow-md mr-[3%]">
            <img id="soundStatus" src="src/images/sound-off.png" class="w-[100%] h-auto">
          </button>

          <button @click="nextPage(12)" class="w-[12%] drop-shadow-md">
            <img src="src/images/arrow.png" class="w-[100%] h-auto">
          </button>
        </div>
        
         <img class="w-[100%] h-auto" src="src/images/background-12.jpg"> 
         
    </section>
    
    <section class="flex items-center h-screen w-full" v-if="getPage() == 12">
       
        <div class="w-[40%] absolute bottom-[5%] right-[2%] z-50 flex flex-row justify-end">
          <button @click="nextPage(0)" class="w-[12%] drop-shadow-md mr-[3%]">
            <img src="src/images/home.png" class="w-[100%] h-auto">
          </button>

          <button @click="soundStatus()" class="w-[12%] drop-shadow-md mr-[3%]">
            <img id="soundStatus" src="src/images/sound-off.png" class="w-[100%] h-auto">
          </button>

          <button @click="nextPage(13)" class="w-[12%] drop-shadow-md">
            <img src="src/images/arrow.png" class="w-[100%] h-auto">
          </button>
        </div>
        
         <img class="w-[85%] h-auto" src="src/images/background-13.jpg"> 
         <audio autoplay>
        <source src="./src/audio/confetti.mp3" type="audio/mpeg">
      </audio>
    </section>

    <section class="flex items-center justify-center h-screen w-full" v-if="getPage() == 13">
        <div>
          <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc03CiueKS-Xym9nijVHcRRCxuoWG23MfYfSbOcb-W7e-KRqQ/viewform?embedded=true" width="640" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
        <div class="w-[40%] absolute bottom-[5%] right-[2%] z-50 flex flex-row justify-end">
          <button @click="nextPage(0)" class="w-[12%] drop-shadow-md mr-[3%]">
            <img src="src/images/home.png" class="w-[100%] h-auto">
          </button>

          <button @click="soundStatus()" class="w-[12%] drop-shadow-md mr-[3%]">
            <img id="soundStatus" src="src/images/sound-off.png" class="w-[100%] h-auto">
          </button>

        </div>
        
         
    </section>
  </main>

  <!-- bg music -->
  <audio id="music" loop="loop">
    <source src="./src/sound.mp3" type="audio/mpeg">
  </audio>

  <audio id="correct">
    <source src="./src/audio/correct_answer.mp3" type="audio/mpeg">
  </audio>

   <audio id="wrong">
    <source src="./src/audio/wrong_answer.wav" type="audio/mpeg">
  </audio>
</body>

<script type="module" src="./src/scripts/main.js"></script>
<script>
  window.addEventListener("load", function () {
    document.querySelector('#page-loading').classList.add('hidden')
  })
</script>
</html>